@import './variables';

.side-bar {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.under-construction {
  h4 {
    font-weight: 100;
  }

  h6 {
    font-weight: 300;
  }
}

.loading-card {
  animation-name: 'loading-card';
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@-webkit-keyframes loading-card {
  0% {
    background-color: $grayGeyser;
  }
  50% {
    background-color: darken($grayGeyser, 10);
  }
  100% {
    background-color: $grayGeyser;
  }
}

@keyframes loading-card {
  0% {
    background-color: $grayGeyser;
  }
  50% {
    background-color: darken($grayGeyser, 10);
  }
  100% {
    background-color: $grayGeyser;
  }
}

.react-tel-input {
  margin-top: 16px;
  margin-bottom: 8px;
  .form-control {
    height: 55px !important;
    width: 100% !important;
  }
}

.rt-td,
.rt-th {
  text-align: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: $black;
}

.rthfc-td-fixed-left {
  display: grid;
  align-items: center;
}

.react-datepicker-component.elective-date-picker {
  .react-datepicker-input {
    position: relative;
    min-width: 150px;
    height: 55px;
    background: none;
    border: 1px solid #ced0da;
    border-radius: 4px;
    &:hover {
      background: none;
    }
    &.is-open {
      background: none;
    }
  }
  .react-datepicker.floating {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}
